@model Nhom8_ShopMotoBikes.Models.DanhMuc

@{
    ViewBag.Title = "Chi tiết danh mục sản phẩm";
    
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="chitiet2">
    <div class="container">
        <div class="row ">
            <div class="col-4 text-center">
                <b> Mã danh mục:</b>
            </div>
            <div class="col-8 text-left">
                @Html.DisplayFor(model => model.MaDM)
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-4 text-center">
                <b>Tên danh mục: </b>
            </div>
            <div class="col-8 text-left">
                @Html.DisplayFor(model => model.TenDM)
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-4 text-center">
                <b>Mô tả danh mục:</b>
            </div>
            <div class="col-8 text-left">
                @Html.DisplayFor(model => model.MoTa)
                @*Html.Raw("<pre>" + Html.Encode(Model.MoTa) + "</pre>")*@
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 text-center">
                @Html.ActionLink("Quay lại", "Index")
            </div>
        </div>
    </div>
</div>
       
