/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
	padding: 20px 0;
	font-size: 14px;
	transition: all 0.3s;
	border-top: 1px solid #cddfff;
	background-color: #EFF8FB;
}
.footer .copyright {
	text-align: center;
	color: #012970;
}
