
@{
    Html.RenderPartial("_Slider");
}

<div class="container">
    <section id="home-aboutus">
        <div class="inner">
            <div class="aboutus-head">
                <h2>
                    HOANGCAU
                </h2>
                <h3>
                    Chào mừng đến với<span>HỆ THỐNG XE MÁY HOÀNG CẦU</span>
                </h3>
            </div>
            <div class="aboutus-body clearfix">
                <div class="aboutus-img">
                    <a href="#">
                        <img src="~/wwwroot/img/logos/logo3.jpg" alt="Giới thiệu" width="100%" height="100%">
                    </a>
                </div>
                <div class="aboutus-content">
                    <div class="aboutus-content-wrapper">
                        <hr>
                        <h3>
                            <span class="word1"></span>
                            <span class="word2">Xe máy Hoàng Cầu</span>
                            <span class="word3">Bạn đường tin cậy</span>
                        </h3>
                        <p>
                            Với bề dày kinh nghiệm hoạt động trên thị trường xe máy cũng như tinh thần nhiệt huyết, tận tâm với từng sản phẩm. Hệ Thống Xe Máy Hoàng Cầu luôn không ngừng nâng cao kĩ năng chuyên môn - nghiệp vụ của mỗi nhân viên nhằm mang đến những TRẢI NGHIỆM TỐT NHẤT cho quý khách hàng khi đến với từng chi nhánh của chúng tôi.
                        </p>
                        <p>
                            Hệ Thống Xe Máy Hoàng Cầu tự tin là một trong số những điểm đến đáng tin cậy khi Quý khách hàng có nhu cầu tham quan và mua sắm "xế yêu" cho bản thân và gia đình.
                        </p>
                        <div class="author">
                            <h4 class="name">
                                Trương Văn Cầu
                            </h4>
                        </div> <hr>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

