<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<link rel="shortcut icon" href="//theme.hstatic.net/200000281285/1000677821/14/favicon.png?v=689" type="image/png" />
<title>Hệ Thống Xe máy Hoàng Cầu</title>
<meta content="" name="description">
<meta content="" name="keywords">
<link rel="icon" type="image/png" href="~/Areas/Admin/Assets/img/logo1.jpg" />


<!-- Google Fonts -->
<link href="https://fonts.gstatic.com" rel="preconnect">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="~/Areas/Admin/Assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="~/Areas/Admin/Assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">







































<style>
    .padding-table {
        padding-top: 30px;
        padding-left: 0px;
    }

    .store-pagination {
        text-align: left;
    }

        .store-pagination li {
            display: inline-block;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            background-color: #FFF;
            border: 1px solid #E4E7ED;
            -webkit-transition: 0.2s all;
            transition: 0.2s all;
            color: unset;
        }

            .store-pagination li + li {
                margin-left: 5px;
            }

            .store-pagination li:hover {
                background-color: #045FB4;
                border-color: #045FB4;
                color: #FFF !important;
            }

                .store-pagination li:hover a {
                    color: #fff !important;
                }

            .store-pagination li.active {
                background-color: #045FB4;
                border-color: #045FB4;
                color: #FFF;
                font-weight: 500;
                cursor: default;
            }

            .store-pagination li a {
                display: block;
            }
</style>